#html5qr-code-full-region__camera_permission_button, #html5qr-code-full-region__dashboard_section_csr button {
  font-size: 1.3rem;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

#html5qr-code-full-region__dashboard_section_swaplink {
  margin-top: 20px;
  display: block;
}

.restart {
  text-align: center;
  margin-top: 20px;
}